*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./image/gradient_bg_vertical.png) repeat-y;
}
h1{
    margin: 40px auto;
    width: 600px;
    text-align: center;
    color: white;
    border: 3px solid green;
    background-color: green;
    display:block;
    padding: 10px;
}
.content{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: blue;
}
#highLight{
    font-weight: bold;
    background-color: yellow;
}