*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header{
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.title{
    text-align: center;
}
.title ul{
    list-style: none;
}
.title ul li{
    display: inline-block;
    margin-right: 50px;
    width: 100px;
}
.content{
    width: 100%;
   font-size: 0;
}
.content .contentLeft{
    width: 25%;
    display: inline-block;
    font-size: 20px;     
}

.content .contentLeft ul{
    list-style-position: inside;
    list-style: none;
}
.content .contentLeft ul li{
    text-align: center;
}
.content .contentCenter{
    width: 50%;
    display: inline-block;
    font-size: 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}
.content .contentCenter h1{
    text-align: center;
}
.content .contentRight{
    width: 25%;
    display: inline-block;
    font-size: 20px;
}
.content .contentRight ul{
    list-style-position: inside;
    list-style: none;
}
.content .contentRight ul li{
    text-align: center;

}
.footer{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    
    
}